
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab:700|Roboto:500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap');

header  {   

	background-color: #f1f1f1;
  border: none;
  padding: 20px;
}

body {
	text-align: center;
  	color: #000;
}


p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	color: #000000;
	line-height: 1.5;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 38px;
	letter-spacing: 3px;
	color: #000;
	padding-bottom: 10px;
}

h2 {	
	font-family: 'Chelsea Market', cursive;
	font-size: 28px;
	font-weight:700;
	letter-spacing: 3px;
	color: #28B463;
	padding-bottom: 10px;
}

h3 {	
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight:600;
	letter-spacing: 1px;
	color: #aa2562;
	padding-bottom: 10px;
}

link {
  display: none;
}

/* unvisited link */
a:link {
  color: #add8e6;
}

/* visited link */
a:visited {
  color: #fec865;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: #a472c5;
}


ul {
	text-align: center;
	list-style-type: disc;
	color: #000;
  list-style-position: inside;

}


li {

  font-color: #000;
 	font-family: 'Lato', sans-serif;
  font-size: 20px;
 	font-weight:500;

}

#quote {

	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-align: left;
	font-weight: bold;
	font-size: 25px;
	color: #aa2562;
	line-height: 1.25;

}

#navWrap {
	
	font-family: 'Chelsea Market', cursive;
	font-size:20px;
	width:100%;
	height:85px;
	margin:auto;
	color:#0076a3;
	text-align:center;
	background-color:#fff;
	font-weight: bold;
	display:inline-block;
}

nav {
    border: none;
    padding: 20px;
}



nav ul li {
	font-family: 'Chelsea Market', cursive;
	list-style-type: none;
	color: #0076a3;
	display: inline-block;
	font-weight:700;
	letter-spacing: 2px;
	padding:15px; 

}

nav li:hover a, nav li:hover {
	color:#28B463;
}


#two_column {
    background-color: #fff;
    border: none;
    padding: 20px;
}

#left {
    background-color: #fff;
    border: none;
    padding: 15px;
    float: left;
    width: 30%;
	  height: 350px;
}

#right {
    background-color: #fff;
    border: none;
    padding: 15px;
    float: right;   
    width: 60%;
	height: 350px;
}

article
{

	background-color: #E89C6C;
   border: 1px black solid;
   padding: 20px;
}


aside {
background-color: #FFC675;
border: 1px black solid;
padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#herowrap {

	background-color: #fff;
    border: none;
    padding: 10px;
    width: auto;
}

#hero {
    background-image: url('../images/final-home.png');
    margin: 5px;
    width: auto;
	  min-height: 400px;
    background-size: cover;
}


#sloganwrap {
	background: none;
  	width: 400px;
	padding-left: 20px;
	text-align: left;
}

#slogan {
	font-family: 'Chelsea Market', cursive;
	font-weight: 800;
	font-size: 50px;
	letter-spacing:2px;
	color: #0076a3;
	margin-top: 20px;
}

#slogan2 {
	font-family: 'Chelsea Market', cursive;
	font-weight: 600;
	font-size: 30px;
	letter-spacing:2px;
	color: #000;
	line-height: 1.5em;
}

.button {
background-color: #0076a3;
border: none;
color: #fff;
padding: 15px 35px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 10px 2px;
cursor: pointer;
font-family: 'Chelsea Market', sans-serif;
letter-spacing: 3px;
font-weight: 800;
align-content: left;

}

.column {
	width: 27%;
	height: 300px;
	padding:10px;
	margin: 0;
	float: left;
}

#col1_logo {
background-color: #none;	
}

#col2_footer_nav {
background-color: none;	
}

#col3_social {
	background-color: #none;
}


#top {   
background-color: #fff;
border: 1px black solid;
  padding: 20px;
}

#fav_wrap {  
width: 100%;
min-height: 370px;
background-color: none;
border: 0px;
padding: 10px;
margin: 10px;
}

#fav_img_wrap {
	width:  275px;
	height: 240px;
	text-align:center;
	display:inline-block;
	vertical-align: middle;
	padding:10px;
	margin-right: 10px;
}


#favorite {
  border-radius: 20%;
	border: 1px solid #28B463;
}

#testimonials {   
	background-color: #28B463;
  border: none;
  padding: 20px;
}

#tileWrap {   
	background-color: none;
  border: none;
  padding: 20px;
}

.tileSig {
	font-family: 'Chelsea Market', cursive;
	font-weight: 400;
	font-size: 18px;
	letter-spacing:2px;
	color: #0076a3;
	text-align: right;
	padding-bottom: 10px;
}

.tiles {
	width:250px;
	height: 150px;
	text-align:center;
	background-color: #fff;
	display:inline-block;
	vertical-align: middle;
	margin-right: 50px;
	line-height: 1.5;
	padding:25px;
}

#featureWrap {   
	background-color: #FFE2B8;
   	border: 1px black solid;
    padding: 20px;
}



#wrapper {

	background-color: #FFE2B8;
    border: none;
    padding: 15px;
}


hr {
	margin:5px 0;
	text-align: center;
	height: 2px;
	border: none;
	background-color: #aa2562;
}

footer {
	width: 100%;
	vertical-align: bottom;
	background-color: #f1f1f1;
    border: none;
    margin: 10px;
}


#aboutFooter { 	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	color: #000000;
	line-height: 1.25;
}


#logo_footer {
	width: 200px;
	padding: 10px;	
}

.vertical-menu {
  width: 220px;
}

.vertical-menu a {
	font-family: 'Lato', san-serif;
	font-size: 18px;
	list-style-type: none;
	color: #0076a3;
	text-decoration: none;
	display: block;
	font-weight:500;
	letter-spacing: 2px;
	padding:15px;
}


.vertical-menu a:hover {
  background-color: #28B463;
  color: #fff;
}

.vertical-menu a.active {
  background-color: #fec865;
  color: white;
}
	
