
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab:700|Roboto:500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap');

header  {   

	background-color: #FFED74;
    	border: 1px black solid;
    	padding: 20px;
}

body {
			 
	text-align: center;
  	color: #000;
		}


p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	color: #000000;
	line-height: 1.5;
		}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 38px;
	letter-spacing: 3px;
	color: #000;
	padding-bottom: 10px;
}



h2 {	
	font-family: 'Chelsea Market', cursive;
	font-size: 28px;
	font-weight:700;
	letter-spacing: 3px;
	color: #28B463;
	padding-bottom: 10px;
}

h3 {	
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight:600;
	letter-spacing: 1px;
	color: #aa2562;
	padding-bottom: 10px;
}

ul {
	text-align: center;
	list-style-type: disc;
	color: #000;
   	list-style-position: inside;

}


li {

  	font-color: #000;
 	font-family: 'Lato', sans-serif;
  	font-size: 20px;
 	font-weight:500;

}



#navWrap {
	
	font-family: 'Chelsea Market', cursive;
	font-size:20px;
	width:100%;
	height:70px;
	margin:auto;
	color:#000;
	text-align:center;
	background-color:#f1f1f1;
	font-weight: bold;
	display:inline-block;
}

nav {

background-color: #fff;
    border: 1px black solid;
    padding: 20px;
}



nav ul li {
	font-family: 'Chelsea Market', cursive;
	list-style-type: none;
	display: inline-block;
	font-weight:700;
	letter-spacing: 2px;
	padding:15px; 

}

nav li:hover a, nav li:hover
{
	color:#28B463;
}


#two_column {
    background-color: #fff;
    border: 1px red solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
}


#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

article
{

	background-color: #E89C6C;
    	border: 1px black solid;
    	padding: 20px;
}


aside
{

	background-color: #FFC675;
    	border: 1px black solid;
    	padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#herowrap
{

	background-color: #fff;
    border: 1px black solid;
    padding: 20px;
}



#hero 

{
    background-image: url('../images/final-home.png');
    margin: 5px;
    width: auto;
	min-height: 400px;
    background-size: cover;
}


#sloganwrap {
	background: none;
    	margin: 25px;
    	width: 400px;
    	height: 100px;
	padding: 20px;
}

#slogan {
	font-family: 'Chelsea Market', cursive;
	font-weight: 800;
	font-size: 50px;
	letter-spacing:2px;
	color: #0076a3;
	margin-top: 20px;
}

#slogan2 {
	font-family: 'Chelsea Market', cursive;
	font-weight: 600;
	font-size: 30px;
	letter-spacing:2px;
	color: #000;
	line-height: 1.5em;
}

.button {
background-color: #0076a3;
border: none;
color: #fff;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 4px 2px;
cursor: pointer;
font-family: 'Chelsea Market', sans-serif;
font-weight: 800;
align-content: left;

}

.column {
	width: 300px;
	height: 300px;
	padding:20px;
	margin: 0;
}

#col1_logo {
	background-color: #f4f4f4;
	
}

#col2_footer_nav
{
background-color: #f2f2f2;	
}

#col3_social {
	background-color: #c6c6c6;
}



#top
{   
background-color: #fff;
    border: 1px black solid;
    padding: 20px;
}

#fav_wrap {  
width: auto;
min-height: 350px;
background-color: #28B463;
border: 0px;
padding: 20px;
}

#fav_img_wrap {
	width:300px;
	height: 250px;
	text-align:center;
	background-color: #fff;
	display:inline-block;
	vertical-align: middle;
	line-height: 1.5;
	padding:25px;
	margin-right: 25px;
}


#favorite {
  	border-radius: 20%;
	border: 1px solid #28B463;
}

#testimonials

{   
	background-color: #FFE2B8;
    	border: 1px black solid;
    	padding: 20px;
}

#tileWrap
{   
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

.tileSig
{
	font-family: 'Chelsea Market', cursive;
	font-weight: 400;
	font-size: 18px;
	letter-spacing:2px;
	color: #0076a3;
	text-align: right;
	padding-bottom: 10px;
}

.tiles
{
	width:250px;
	height: 150px;
	text-align:center;
	background-color: #fff;
	display:inline-block;
	vertical-align: middle;
	margin-right: 50px;
	line-height: 1.5;
	padding:25px;
}

#featureWrap

{   
	background-color: #FFE2B8;
   	border: 1px black solid;
    padding: 20px;
}



#wrapper {

	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}


hr {
	margin:5px 0;
	text-align: center;
	height: 2px;
	border: none;
	background-color: #aa2562;
}

footer {
	background-color: #e6e6e6;
    border: 1px black solid;
    padding: 20px;
}

#logo_footer

{
width: 200px;
padding: 10px;	
}
