
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab:700|Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap');


#wrapper {

	background-color: #f1f1f1;
	max-width: 1200px;
	margin: 0 auto;
}

header  {   
	background-color: #f1f1f1;
	border: none;
	padding: 20px;
}

#logoheader {

	width: 300px;
	float: left;
}

body {
  	color: #000;
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
	line-height: 1.5;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 38px;
	letter-spacing: 3px;
	color: #000;
	padding-bottom: 10px;
}

h2 {	
	font-family: 'Chelsea Market', cursive;
	font-size: 28px;
	font-weight:700;
	letter-spacing: 3px;
	color: #28B463;
	padding-bottom: 10px;
}

h3 {	
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight:600;
	letter-spacing: 1px;
	color: #0076a3;
	padding-bottom: 10px;
	text-align: center;
}

link {
  	display: none;
}

/* unvisited link */
a:link {
  	color: #add8e6;
}

/* visited link */
a:visited {
  	color: #fec865;
}

/* mouse over link */
a:hover {
  	color: white;
}

/* selected link */
a:active {
  	color: #a472c5;
}

ul {
	text-align: center;
	list-style-type: disc;
	color: #000;
  	list-style-position: inside;

}

li {
  	font-color: #000;
  	font-size: 20px;
 	font-weight:500;
}

#quote {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-align: left;
	font-weight: bold;
	font-size: 25px;
	color: #aa2562;
	line-height: 1.25;
}

#navWrap {	
	font-family: 'Chelsea Market', cursive;
	font-size: 20px;
	color: #0076a3;
	text-align: center;
	background-color: #fff;
	font-weight: bold;	
}

nav {
    border: none;
    padding: 2em;
}

nav ul li {
	font-family: 'Chelsea Market', cursive;
	list-style-type: none;
	color: #0076a3;
	display: inline-block;
	font-weight:700;
	letter-spacing: 2px;
	padding:15px; 
}

nav li:hover a, nav li:hover {
	color:#28B463;
}

#two_column {
    	background-color: #fff;
    	border: none;
    	padding: 20px;
    	text-align: center;
}

#left {
    background-color: none;
    border: none;
    padding: 15px;
    float: left;
    width: 30%;
}

#right {
    background-color: none;
    border: none;
    padding: 15px;
    float: right;   
    width: 50%;
}

#favorite {
	background: none;
	padding: 2em;
	text-align: center;
	border: 1px blue solid;
  
}

#fav_Wrap {  
	
	text-align: center;
	background-color: #ffdd00;
	border: 1px red solid;
}

.fav_img {
	float: left;
	margin: 1em;
}

#callout {
	float: right;
	background-color: #aa2562;
 	color: #fff;
}

#favleft {
	background-color: none;
    border: 1px black solid;
    padding: 15px;
    float: left;
}

#favright {
 	background-color: #aa2562;
 	color: #fff;
 	text-transform: uppercase;
 	font-family: 'Chelsea Market', cursive;
 	text-align: center;
 	font-size: 5em;
    padding: 2em 25px;
    float: right;
    
}

#favRightWrap {
	float: right;
	background color: #aa2562;

}

#fav_top {
	float:left;
	background-color: #f1f1f1;
	width:600px;
	border: 1px black solid;
}

#fav_bottom {
	float: left;
	background-color: #f1f1f1;
	width:600px;
	border: 1px black solid;
}

article {
	background-color: none;
   	border: 1px black solid;
}

aside {
	background-color: none;
	border: 1px black solid;
}

.clearfix:after {
    	visibility: hidden;
    	display: block;
    	font-size: 0;
    	content: " ";
    	clear: both;
    	height: 0;
}

#herowrap {
		background-color: #fff;
  		border: none;
    	width: auto;
}

#hero {
    	background-image: url('../images/final-home.png');
		min-height: 400px;
    	background-size: cover;
}

#sloganwrap {
	background: none;
	padding-top: 15px;
  	width: 400px;
	padding-left: 5em;
	text-align: left;
}

#slogan {
	font-family: 'Chelsea Market', cursive;
	padding-left: 20px;
	font-weight: 800;
	font-size: 50px;
	letter-spacing:2px;
	color: #0076a3;
	margin-top: 20px;
}

#slogan2 {
	font-family: 'Chelsea Market', cursive;
	font-weight: 600;
	font-size: 30px;
	letter-spacing:2px;
	padding-left: 20px;
	color: #000;
	line-height: 1.5em;
}

.button {
	background-color: #0076a3;
	border: none;
	color: #fff;
	padding: 15px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 10px 20px;
	cursor: pointer;
	font-family: 'Chelsea Market', sans-serif;
	letter-spacing: 3px;
	font-weight: 800;
	align-content: left;
}

.column {
	width: 33.33%;
	margin: 0;
	float: left;
}

#col1_logo {
	background-color: none;	
}

#col2_footer_nav {
	background-color: none;	
}

#col3_social {
	background-color: none;
}

#top {   
	background-color: #fff;
	border: 1px black solid;
  	padding: 20px;
}


#testimonials {   
	background-color: #28B463;
	text-align: center;
	color: #fff;
	padding: 2em;
}

#testimonials h2

{
	color: #fff;
}

#tileWrap {   
	background-color: none;
	color: #fff;
  	border: none;
  	display: inline-block;
}

.tiles {
	width: 26%;
	float: left;
	color: #fff;
	text-align:center;
	margin: 20px 25px;
	line-height: 1.5;	
}

.tileSig {
	font-family: 'Chelsea Market', cursive;
	font-weight: 400;
	font-size: 18px;
	letter-spacing:2px;
	color: #fff373;
	text-align: right;
}

#feature {   
	background-color: #fff;
	width: auto;
}

hr {
	margin:5px 0;
	text-align: center;
	height: 2px;
	border: none;
	background-color: #aa2562;
}

#bottom {	
	background-image: url('../images/salad-footer.png');
	height:250px;
    background-size: cover;

}

#footerWrap	{
	margin: 3em;
}

footer {
	vertical-align: bottom;
	background-color: #f1f1f1;
 	padding: 2em;
}


#aboutFooter { 	
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	color: #000000;
	line-height: 1.25;
}


#logo_footer {
	width: 200px;
	padding: 10px;
	align-content: left;	
}


#footer_social {

width: 55px;
margin: 1em;

}

.vertical-menu a li {

	font-family: 'Chelsea Market', cursive;
	font-size: 20px;
}

.vertical-menu {
  	font-family: 'Chelsea Market', cursive;
	font-size: 20px;
	list-style-type: none;
	color: #0076a3;
	text-decoration: none;
	display: block;
	font-weight:500;
	letter-spacing: 2px;
	padding:15px;
}

.vertical-menu a {
	font-family: 'Raleway', san-serif;
	font-size: 20px;
	list-style-type: none;
	color: #0076a3;
	text-decoration: none;
	display: block;
	font-weight:500;
	letter-spacing: 2px;
	padding:15px;
}

.vertical-menu a:hover {
  	background-color: #28B463;
  	color: #fff;
}

.vertical-menu a.active {
  	background-color: #fec865;
  	color: #fff;
}
