body {
			 background: url("images/salad-home.jpg");
			 text-decoration: none;
			 background-size: cover;
  			color: #fff;
		}

p {
			font-family: Lato,Helvetica,Arial,sans-serif;
			 font-weight: 400;
			  font-size: 18px;
			  font-style: normal;
			  text-align: left;
			   color: #000000;
		}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 38px;
	letter-spacing:3px;
	color: #000
}



h2 {	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 28px;
	font-weight:700;
	letter-spacing:3px;
	color: #28B463;
}


ul {
	list-style-type: disc;
	color: #aa2562;
	font-color: #000;

}


img {
  padding: 2px;

}

#slogan {
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 25px;
	font-style: italic;
	letter-spacing:3px;
	color: #000
}

#favorite{
  padding: 3px;
  border-radius: 50%;
border: 1px solid #28B463;
}


hr {
	margin:5px 0;
	align-self: center;
	height: 1px;
	border: none;
	background-color: #aa2562;
	width: 75%;
}



